.edit-container {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.login-page {
  width: 360px;
  padding: 8% 0 0;
  margin: auto;
}
.edit-form {
  position: relative;
  z-index: 1;
  background: #ffffff;
  margin-top: 2rem;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.edit-form input {
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
  color: rgb(99, 4, 4);
}

.edit-form button {
  outline: 0;
  background: rgb(230 157 48);
  width: 80%;
  border: 0;
  padding: 15px;
  color: #ffffff;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}
.edit-form button:hover,
.edit-form button:active,
.edit-form button:focus {
  background: #a15e06;
}
.edit-form button:after {
  background: rgb(230 157 48);
}
