.news img {
  height: 10rem;
  width: 10rem;
  padding-bottom: 3rem;
  padding-left: 1rem;
  border-radius: 3%;
}
.news {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 2rem;
}
.news a {
  text-decoration: none;
  overflow: hidden;
  color: black
}
